{% extends '@EasyAdmin/default/layout.html.twig' %}
{% set _content_title = 'New Box' %}
{% block page_title -%}
    {{ _content_title }}
{%- endblock %}

{% block main %}
    <h1>Create new Box</h1>

    {{ include('Admin/box/_form.html.twig') }}

    {{ form_row(form.uploadCsv) }}

    <a href="{{ path('admin_box_index') }}">back to list</a>
{% endblock %}
